* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../image/backgroundbody.jpg);
  display:grid;
  justify-content:center;
  text-align: center;
  background-size: cover;
}

li a {
  text-decoration: none;
}
.index .lon {
  height: 50px;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.422);
  box-shadow: 3px 3px 6px rgba(12, 12, 12, 0.111);
  justify-content: flex-end;
  position: sticky;
  top: 0;
}
.index .lon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.index {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.index .lon li {
  transition: all 0.5s ease;
}
.container{
  display:none;
  position:fixed;
  width:100%;
  height:100vh;
}
.container button{
  position:absolute;
  width: 100%;
  right:200px;
  height: 100vh;
  border: none;
  background-color: rgba(240, 248, 255, 0.092);
  backdrop-filter: blur(6px);
}
.index .be {
  list-style: none;
  position: absolute;
  height: 100vh;
  width: 200px;
  inset:0px 0px 0px auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5%;
  background-color: rgba(65, 65, 65, 0.556);
  backdrop-filter: blur(10px);
  box-shadow: -3px 0 6px rgba(12, 12, 12, 0.336);
}
.index .be li {
  width: 100%;
  height: 50px;
}
li a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.index .be li a {
  padding-left: 20px;
  color: rgb(237, 237, 237);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s ease;
}
.index .be li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 61, 129, 0.384);
  border-radius: 12px;
  transform: translateY(-3px);
}
.index .lon a {
  color: rgb(86, 86, 86);
  border-right: 1px solid rgba(165, 165, 165, 0.578);
  border-left: 1px solid rgba(165, 165, 165, 0.578);
  border-radius: 12px;
  padding: 0 30px;
  height: 45px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.index .lon i {
  color: rgb(104, 104, 104);
  border-right: 1px solid rgba(165, 165, 165, 0.578);
  border-left: 1px solid rgba(165, 165, 165, 0.578);
  border-radius: 12px;
  padding: 0 30px;
  height: 45px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.index .lon li:hover {
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
  border-bottom: rgb(255, 255, 255) 4px solid;
}
.index .lon li i:hover {
  transform: translateY(-3px);
  background-color: rgba(255, 90, 120, 0.384);
  color: rgb(255, 255, 255);
}
.index .lon li a:hover {
  transform: translateY(-3px);
  background-color: rgba(255, 33, 151, 0.384);
  color: rgb(255, 255, 255);
}
footer {
  width: 100%;
  max-width: 100vw;
  display: grid;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.523);
  color: rgb(218, 207, 191);
  border-top-left-radius: 40px;
}
footer .footerall {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
footer ul {
  list-style: none;
  margin: 20px;
  padding: 0 20px;
}
.map iframe{
  width: 250px;
  height: 200px;
  border-radius: 25px;
}
.anh {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anh img {
  width: 80%;
  border-radius: 25px;
}
.content{
    text-align: center;
    height: auto;
    margin-top: 50px;
    font-size: 18px;
}
.content button{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border:1px solid gray;
    margin:20px;
    background-color: rgba(255, 19, 19, 0.81);
    color:rgb(255, 255, 255)
}
.content button:hover{
  background-color: rgb(122, 122, 122);
  border-bottom:3px solid red;
  transform:translateY(-3px);
  transition:all 0.3s ease;
  cursor:pointer;
}
.content button:active{
  transition: all 0.5s ease;
  background-color: rgba(209, 5, 5, 0.784);
  transform:scale(0.5);
}
.cacbuoc{
   width:100%;
   margin: auto;
   display: flex;
   text-align: center;
   margin-top:30px;
   margin-bottom:60px;
   flex-wrap: wrap;
   gap:20px;
   justify-content: center;
}
.buoc{
  width:300px;
  height: 250px;
  background-color: rgba(111, 111, 111, 0.567);
  border-radius: 25px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}
.buoc p{
  color:rgba(140, 0, 0, 0.805);
  margin-top:20px;
}
.mm{
  transition: all 0.5s ease;
}
.buoc .icon{
  font-size: 50px;
padding:0;
}
.icon{
  transition: 2s ease;
}
.reveal-section{
  opacity:0;
  transform: translateY(40px);
}
.reveal-section.show{
  opacity:1;
  transform: translateY(0);
}
.x{
background-color: rgba(204, 204, 204, 0.422);
    color: rgb(63, 63, 63);
    backdrop-filter: blur(1px);
    border-color: #ccc;
}
h1{
  font-size: 36px;
  color: rgb(255, 255, 255);
}
.modau{
  width:100%;
  height:180px;
  display:grid;
  justify-content: left;
  padding-left: 50px;
  gap:8px;
  align-items: center;
  color:aliceblue;
  background-color: black;
  gap:20px;
}
.icon{
  display: flex;
  gap:20px;
  margin-top:10px ;
}
.fb{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color: rgb(43, 146, 255);
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size:20px;
  transition: 0.5s ease;
}
.fb:hover{
  background-color: rgb(29, 69, 132);
  transform: translateY(-3px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.ig{
  width:30px;
  height:30px;
  border-radius:50%;
 background:linear-gradient(35deg,rgb(255, 73, 161),rgb(248, 112, 191),rgb(255, 73, 95));
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size:20px;
  transition: 0.7s ease;
}
.ig:hover{
   background:linear-gradient(35deg,rgba(255, 73, 161, 0.79),rgba(248, 112, 191, 0.747),rgba(255, 73, 94, 0.812));
  transform: translateY(-3px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.tw{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color: rgb(0, 213, 255);
  display:flex;
  justify-content: center;
  align-items: center;
  color:rgb(235, 235, 235);
  font-size:20px;
  transition: 0.9s ease;
}
.tw:hover{
  background-color: rgba(7, 205, 255, 0.837);
  transform: translateY(-3px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.yt{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color: rgb(241, 25, 65);
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size:20px;
  transition: 1.4s ease;
}
.yt:hover{
  background-color: rgb(199, 21, 48);
  transform: translateY(-3px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.kkkk{
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.325);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 2s;
}
.anhkkk{
  width: 40%;
  height: 100%;
  background:linear-gradient(60deg,rgba(61, 158, 255, 0.799),rgb(255, 126, 126),rgb(255, 255, 255));
  background-size: cover;
  background-position: center;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 36px;
  color: rgb(72, 35, 207);
  border-radius: 40px;
}
.gioithieu{
  width: 50%;
  height: auto;
  margin-left: 50px;
  text-align: left;
  font-size: 18px;
  color: rgb(51, 51, 51);
  display: grid;
  justify-items: center;
  align-items: center;
}
.anh{
  transition: 1.5s;
  opacity: 0;
}
.services-box{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.anhkkk:hover{
  transform: scale(1.01);
  background:linear-gradient(12deg,rgb(160, 255, 112),rgb(107, 203, 255),white);
  transition: all 0.5s ease;
}
.services-box .service-card{
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 25px;
  background:linear-gradient(10deg,rgba(255, 156, 206, 0.756),white,rgba(255, 165, 165, 0.652));
  box-shadow: 0 4px 8px rgba(255, 163, 163, 0.2);
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 2s ease;
}
 .service-card p{
  text-align: justify ;
 }
span{
  font-size: 50px;
  color: rgb(255, 94, 94);
}
.services-box .service-card:hover{
  transform: translateY(-10px);
  background:linear-gradient(10deg,rgba(98, 235, 247, 0.756),transparent,rgba(255, 211, 211, 0.652));
  animation: fadeIn 4s infinite alternate;
  border: 1px solid rgb(255, 255, 255);
}
.arrow{
  border-radius: 50%;
  border: 1px solid rgb(199, 199, 199);
  color: rgb(62, 163, 44);
}
@keyframes fadeIn {
  0%{
    opacity: 0.7;
    box-shadow: 0 0 10px 5px rgb(139, 238, 255);
  }
  100%{
    opacity: 1;
    box-shadow:0 0 10px 10px rgba(255, 142, 142, 0.781);
  }
}
@media (max-width:700px) {
  .lon li{
    display: none;
  }
  .lon li:last-child{
    display: block;
  }
  .kkkk{
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .gioithieu{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    font-size: 14px;
  }
  .anhkkk{
    width: 100%;
    height: auto;
  }
}